<div class="grid justify-content-center">
  <div class="col-10 md:col-6 lg:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12">
          <label>Usuário</label>
          <input type="text" pInputText [(ngModel)]="value" />
        </div>
        <div class="col-12">
          <label>Senha</label>
          <input type="text" pInputText [(ngModel)]="value" />
        </div>
        <div class="col-12">
          <label>Confirmar</label>
          <input type="text" pInputText [(ngModel)]="value" />
        </div>
      </div>
    </p-card>
  </div>
</div>
