<div class="grid justify-content-center card">
  <div class="col-10 md:col-6 lg:col-4">
    <p-card>
      <div class="grid">
        <div class="text-center col-12">
            <i class="fas fa-car fa-4x" style="color: #007ad9;"></i>
          <h2 class="text-center">Car Sales</h2>
        </div>
        <div class="col-12">
          <label>Usuário</label>
          <input class="col-12" [(ngModel)]="requestLogin.login" type="text" pInputText />
        </div>
        <div class="col-12">
          <label>Senha</label>
          <input
           class="col-12" 
           [(ngModel)]="requestLogin.password" 
           type="password" 
           
           pInputText />
        </div>
        <div class="col-12">
          <p-button class="p-button" (click)="doLogin()" label="Entrar"></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>